extends layout

block content
  h1 Iniciar sesión
  if error
    .error= error
  form(method='POST')
    input(type='email' name='email' placeholder='Email' required)
    input(type='password' name='password' placeholder='Contraseña' required)
    button(type='submit') Entrar
  p ¿No tienes cuenta? <a href='/registro'>Regístrate</a>